.DS_Store
dist/
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.jest
coverage/
*.orig.*
web-build/
web-report/

package-lock.json
yarn-error*

firebase-debug*.*
.firebase

.idea
.gitmessage.txt
.env
.eslintcache

# firebase
google-services.json

__snapshots__

# watchman
.watchman*
