version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5
jobs:
  server:
    docker:
    - image: circleci/node:15.14
    - image: circleci/postgres:13.3
      environment:
        POSTGRES_DB: test
        POSTGRES_USER: test
        POSTGRES_PASSWORD: test!
    working_directory: ~/dooboo
    steps:
      - checkout

      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'

      - run:
          name: Install packages
          working_directory: server
          command: |
            yarn install --ignore-engines

      - run:
          name: Generate prisma types
          working_directory: server
          command: |
            yarn generate

      - run:
          name: ESLint
          working_directory: server
          command: |
            yarn lint

      - run:
          name: TSC build
          working_directory: server
          command: |
            yarn tsc

      - run:
          name: Remove dist
          working_directory: server
          command: |
            rm -rf ./dist

      - run:
          name: Jest test
          working_directory: server
          command: |
            yarn test --coverage --silent

      - codecov/upload:
          file: ./server/coverage/lcov.info
          token: 0fc24d24-3658-478c-8976-9e832903e609

  client:
    working_directory: ~/dooboo
    docker:
      - image: circleci/node:15.14
    environment:
      TZ: 'Asia/Seoul'
    steps:
      - checkout

      - restore_cache:
          key: yarn-v1-{{ checksum "client/yarn.lock" }}-{{ arch }}

      - restore_cache:
          key: node-v1-{{ checksum "client/package.json" }}-{{ arch }}

      - run:
          name: Install packages
          working_directory: client
          command: |
            yarn

      - save_cache:
          key: yarn-v1-{{ checksum "client/yarn.lock" }}-{{ arch }}
          working_directory: client
          paths:
            - ~/.cache/yarn

      - save_cache:
          key: node-v1-{{ checksum "client/package.json" }}-{{ arch }}
          working_directory: client
          paths:
            - ./node_modules

      - run:
          name: Lint Test
          working_directory: client
          command: |
            yarn lint --quiet

      - run:
          name: COPY config
          working_directory: client
          command: |
            yarn cp:config

      - run:
          name: TS Test
          working_directory: client
          command: |
            yarn tsc

      - run:
          name: Jest Test
          working_directory: client
          command: |
            mkdir -p coverage
            yarn test -u --coverage --silent
          environment:
            JEST_JUNIT_OUTPUT: test-results/jest/junit.xml

      - codecov/upload:
          file: ./client/coverage/lcov.info
          token: 0fc24d24-3658-478c-8976-9e832903e609

      - store_test_results:
          working_directory: client
          path: coverage

      - store_artifacts:
          working_directory: client
          path: coverage

workflows:
  version: 2.1
  node-android-ios:
    jobs:
      - server:
        filters:
          branches:
            ignore:
              - gh-pages
      - client:
        filters:
          branches:
            ignore:
              - gh-pages
