node_modules/
dist/
coverage/
yarn-error.log
package-lock.json
.DS_Store


dotenv
!dotenv/test.env
src/generated

.idea
.env

# yarn2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
