name: CI for Website

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'website/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install modules
      run: |
        pushd ./website
        yarn
        popd

    - name: Build
      run: |
        pushd ./website
        yarn build
        popd
