# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Deploy Server

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'server/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Set up Node.js version
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'

    - name: Install packages and build
      run: |
        pushd ./server
        yarn install --ignore-engines
        yarn build
        popd

    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'hackatalk'
        slot-name: 'staging'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_241cb4cf043b472bba4b578954b48fc9 }}
        package: ./server
