name: Release server
on:
  workflow_dispatch:
  release:
    types: [created]
    paths:
      - "server/**"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - name: Install packages and build
        run: |
          pushd ./server
          yarn install --ignore-engines
          yarn build
          popd

      - name: "Deploy to Azure"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: "hackatalk"
          slot-name: "production"
          publish-profile: ${{ secrets.AZURE_APPSERVICE_PROD }}
          package: ./server
